body {
  background-color: rgb(45, 42, 42);
  color: white;
  font-size: 200px;
  margin-top: 150px;
}

.clock, .buttons-container {
  display: flex;
  justify-content: center;
}

.clock-child {
  display: inline-block;
}

.buttons{
  height: 50px;
  width: 120px;
  font-size: 20px;
  margin-top: 50px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 3px;
}

.buttons:first-of-type {
  margin-right: 50px;
  background-color: rgb(111, 111, 190);
}

.buttons:nth-child(2) {
  color: black;
  background-color: rgb(185, 185, 189);
}
